.empty-list-wrapper {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  .empty-description {
    margin-top: 30px;
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    white-space: pre-line;
  }
  .company-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 115px;
    margin: 0 10px;
    background: #FFFFFF;
    border: 1px solid #E6E9EF;
    border-radius: 4px;
  }
}