.circular-image-small {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.setting-profile {
  margin-left: 15px;
  .name {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .see {
    color: #e3e3e3;
  }
}

